# Dependencies
**/node_modules/

# Compilation/build outputs
**/dist/
**/lib/

# Configuration
/vitest.config.ts
/packages/safe-ds-eda/svelte.config.js
/packages/safe-ds-eda/vite.config.ts
/packages/safe-ds-eda/types/*.d.ts