# Dependencies
**/node_modules/

# Compilation/build outputs
**/coverage/
**/dist/
**/lib/

# Configuration
/vitest.config.ts
/packages/safe-ds-eda/svelte.config.js
/packages/safe-ds-eda/consts.config.ts
/packages/safe-ds-eda/vite.config.ts
/packages/safe-ds-eda/types/*.d.ts

/packages/safe-ds-editor/svelte.config.js
/packages/safe-ds-editor/vite.config.js
/packages/safe-ds-editor/tailwind.config.js
/packages/safe-ds-editor/postcss.config.js
/packages/safe-ds-editor/**/*.d.ts
/packages/safe-ds-editor/migrationTools/**