# IntelliJ
.idea/
*.iml

# VSCode
.vscode/**/*
!.vscode/launch.json

# Compilation/build outputs
build/
coverage/
dist/
dist-ssr/
generated/
!**/tests/resources/generation/**/generated/
lib/
out/
*.tsbuildinfo
*.vsix

# Node
.npm/
node_modules/
.node_repl_history
npm-debug.log*
pnpm-lock.yaml
yarn.lock

# Python binaries
*.egg-info/
__pycache__/
*.pyc

# Python environment
venv/

# Pytest outputs
.pytest_cache/
htmlcov/
.coverage

# MegaLinter
report/
megalinter-reports/

# Other
.DS_Store
*.log
