site_name: Safe-DS
repo_url: https://github.com/lars-reimann/Safe-DS
repo_name: Safe-DS

theme:
  name: material
  palette:
    # Palette toggle for light mode
    - scheme: default
      toggle:
        icon: material/weather-sunny
        name: Switch to dark mode
      primary: indigo
      accent: indigo

    # Palette toggle for dark mode
    - scheme: slate
      toggle:
        icon: material/weather-night
        name: Switch to light mode
      primary: orange
      accent: orange

plugins:
  - mkdocstrings:
      handlers:
        python:
          paths:
            - Runtime/safe-ds
  - autorefs
  - search

markdown_extensions:
  - pymdownx.highlight:
      anchor_linenums: true
  - pymdownx.inlinehilite
  - pymdownx.snippets
  - pymdownx.superfences

nav:
  - Home: README.md
  - DSL:
      - Language: DSL/README.md
      - Standard Library: Stdlib/API/README.md
  - Python Library:
      - Stdlib/python/table.md
      - Stdlib/python/column.md
      - Stdlib/python/row.md
      - Stdlib/python/Tutorials/README.md
  - Developer Guide: Development/README.md
