site_name: Safe-DS
repo_url: https://github.com/lars-reimann/Safe-DS
repo_name: Safe-DS

nav:
  - Home: README.md
  - DSL:
      - Language: DSL/README.md
      - Standard Library: Stdlib/API/README.md
  - Python Library:
      - Classification:
          - Metrics:
              - Stdlib/python/classification/metrics/accuracy.md
          - Stdlib/python/classification/AdaBoost.md
          - Stdlib/python/classification/DecisionTree.md
          - Stdlib/python/classification/GradientBoosting.md
          - Stdlib/python/classification/KNearestNeighbors.md
          - Stdlib/python/classification/LogisticRegression.md
          - Stdlib/python/classification/RandomForest.md
      - Data:
          - Stdlib/python/data/BooleanColumnType.md
          - Stdlib/python/data/FloatColumnType.md
          - Stdlib/python/data/IntColumnType.md
          - Stdlib/python/data/LabelEncoder.md
          - Stdlib/python/data/OneHotEncoder.md
          - Stdlib/python/data/OptionalColumnType.md
          - Stdlib/python/data/OrdinalEncoder.md
          - Stdlib/python/data/StringColumnType.md
          - Stdlib/python/data/SupervisedDataset.md
          - Stdlib/python/data/Table.md
          - Stdlib/python/data/Column.md
          - Stdlib/python/data/ColumnType.md
          - Stdlib/python/data/ColumnStatistics.md
          - Stdlib/python/data/Row.md
          - Stdlib/python/data/Imputer.md
      - Exceptions:
          - Stdlib/python/exceptions/ColumnLengthMismatchError.md
          - Stdlib/python/exceptions/ColumnSizeError.md
          - Stdlib/python/exceptions/DuplicateColumnNameError.md
          - Stdlib/python/exceptions/IndexOutOfBoundsError.md
          - Stdlib/python/exceptions/MissingSchemaError.md
          - Stdlib/python/exceptions/NonNumericColumnError.md
          - Stdlib/python/exceptions/SchemaMismatchError.md
          - Stdlib/python/exceptions/UnknownColumnNameError.md
          - Stdlib/python/exceptions/LearningError.md
          - Stdlib/python/exceptions/NotFittedError.md
          - Stdlib/python/exceptions/PredictionError.md
      - Plotting:
          - Stdlib/python/plotting/plot_boxplot.md
          - Stdlib/python/plotting/plot_correlation_heatmap.md
          - Stdlib/python/plotting/plot_histogram.md
          - Stdlib/python/plotting/plot_lineplot.md
          - Stdlib/python/plotting/plot_scatterplot.md
      - Regression:
          - Metrics:
              - Stdlib/python/regression/metrics/mean_absolute_error.md
              - Stdlib/python/regression/metrics/mean_squared_error.md
          - Stdlib/python/regression/AdaBoost.md
          - Stdlib/python/regression/DecisionTree.md
          - Stdlib/python/regression/ElasticNetRegression.md
          - Stdlib/python/regression/GradientBoosting.md
          - Stdlib/python/regression/KNearestNeighbors.md
          - Stdlib/python/regression/LassoRegression.md
          - Stdlib/python/regression/LinearRegression.md
          - Stdlib/python/regression/RandomForest.md
          - Stdlib/python/regression/RidgeRegression.md
      - Stdlib/python/Tutorials/README.md
  - Developer Guide: Development/README.md

# Configuration of MkDocs & Material for MkDocs --------------------------------

theme:
  name: material
  palette:
    # Palette toggle for light mode
    - scheme: default
      toggle:
        icon: material/weather-sunny
        name: Switch to dark mode
      primary: indigo
      accent: indigo

    # Palette toggle for dark mode
    - scheme: slate
      toggle:
        icon: material/weather-night
        name: Switch to light mode
      primary: orange
      accent: orange
  features:
    - content.code.copy
    - navigation.instant
    - navigation.sections

plugins:
  - mkdocstrings:
      handlers:
        python:
          paths:
            - Runtime/safe-ds
  - autorefs
  - search

watch:
  - Runtime/safe-ds

markdown_extensions:
  # Admonitions
  - admonition
  - pymdownx.details

  # Code blocks
  - pymdownx.highlight:
      anchor_linenums: true
  - pymdownx.inlinehilite
  - pymdownx.snippets

  # Diagrams
  - pymdownx.superfences:
      custom_fences:
        - name: mermaid
          class: mermaid
          format: !!python/name:pymdownx.superfences.fence_code_format # Footnotes


  - footnotes

  # Keys
  - pymdownx.keys

  # Icons & emojis
  - pymdownx.emoji:
      emoji_index: !!python/name:materialx.emoji.twemoji
      emoji_generator: !!python/name:materialx.emoji.to_svg # Images


  - attr_list
  - md_in_html

  # Lists
  - def_list
  - pymdownx.tasklist:
      custom_checkbox: true

  # MathJax
  - pymdownx.arithmatex:
      generic: true

extra_javascript:
  - javascripts/mathjax.js
  - https://polyfill.io/v3/polyfill.min.js?features=es6
  - https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js
