site_name: Safe-DS
repo_url: https://github.com/lars-reimann/Safe-DS
repo_name: Safe-DS

nav:
  - Home: README.md
  - DSL:
      - Language: DSL/README.md
      - Standard Library: Stdlib/API/README.md
  - Python Library:
      - Stdlib/python/table.md
      - Stdlib/python/column.md
      - Stdlib/python/row.md
  - Developer Guide: Development/README.md

theme:
  name: material
  palette:
    # Palette toggle for light mode
    - scheme: default
      toggle:
        icon: material/weather-sunny
        name: Switch to dark mode
      primary: indigo
      accent: indigo

    # Palette toggle for dark mode
    - scheme: slate
      toggle:
        icon: material/weather-night
        name: Switch to light mode
      primary: orange
      accent: orange
  features:
    - navigation.instant
    - navigation.sections

plugins:
  - mkdocstrings:
      handlers:
        python:
          paths:
            - Runtime/safe-ds
  - autorefs
  - search

markdown_extensions:

  # Admonitions
  - admonition
  - pymdownx.details

  # Code blocks
  - pymdownx.highlight:
      anchor_linenums: true
  - pymdownx.inlinehilite
  - pymdownx.snippets

  # Diagrams
  - pymdownx.superfences:
      custom_fences:
        - name: mermaid
          class: mermaid
          format: !!python/name:pymdownx.superfences.fence_code_format

  # Footnotes
  - footnotes

  # Keys
  - pymdownx.keys

  # Icons & emojis
  - pymdownx.emoji:
      emoji_index: !!python/name:materialx.emoji.twemoji
      emoji_generator: !!python/name:materialx.emoji.to_svg

  # Images
  - attr_list
  - md_in_html

  # Lists
  - def_list
  - pymdownx.tasklist:
      custom_checkbox: true

  # MathJax
  - pymdownx.arithmatex:
      generic: true

extra_javascript:
  - javascripts/mathjax.js
  - https://polyfill.io/v3/polyfill.min.js?features=es6
  - https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js
