site_name: Safe-DS DSL
repo_url: https://github.com/Safe-DS/DSL
repo_name: Safe-DS/DSL
edit_uri: edit/main/docs/
site_url: !ENV READTHEDOCS_CANONICAL_URL

nav:
  - Home:
      - README.md
  - Language:
      - language/README.md
      - Pipeline Language:
          - language/pipeline-language/README.md
          - Pipelines: language/pipeline-language/pipelines.md
          - Steps: language/pipeline-language/steps.md
          - Statements: language/pipeline-language/statements.md
          - Expressions: language/pipeline-language/expressions.md
      - Common:
          - language/common/README.md
          - Comments: language/common/comments.md
          - Packages: language/common/packages.md
          - Imports: language/common/imports.md
          - Parameters: language/common/parameters.md
          - Results: language/common/results.md
          - Types: language/common/types.md
          - Variance: language/common/variance.md
      - Stub Language:
          - language/stub-language/README.md
          - Classes: language/stub-language/classes.md
          - Global Functions: language/stub-language/global-functions.md
          - Enumerations: language/stub-language/enumerations.md
          - Annotations: language/stub-language/annotations.md
          - Type Parameters: language/stub-language/type-parameters.md
  - Standard Library:
      - stdlib/README.md
      - safeds.lang: stdlib/safeds_lang.md
  - Development:
      - DSL Development Checklist: development/dsl-development-checklist.md
      - Release Checklist: development/release-checklist.md

# Configuration of MkDocs & Material for MkDocs --------------------------------

theme:
  name: material
  logo: https://raw.githubusercontent.com/Safe-DS/.github/main/branding/safe-ds_logo_rounded.svg
  favicon: https://raw.githubusercontent.com/Safe-DS/.github/main/branding/safe-ds_logo_rounded.svg
  palette:
    # Palette toggle for light mode
    - scheme: default
      toggle:
        icon: material/weather-sunny
        name: Switch to dark mode
      primary: indigo
      accent: indigo

    # Palette toggle for dark mode
    - scheme: slate
      toggle:
        icon: material/weather-night
        name: Switch to light mode
      primary: black
      accent: indigo
  features:
    - content.code.copy
    - navigation.tabs
    - navigation.indexes
    - navigation.instant
    - navigation.sections
    - navigation.top

plugins:
  - glightbox
  - search

markdown_extensions:
  # Admonitions
  - admonition
  - pymdownx.details

  # Code blocks
  - pymdownx.highlight:
      anchor_linenums: true
  - pymdownx.inlinehilite
  - pymdownx.snippets

  # Diagrams
  - pymdownx.superfences:
      custom_fences:
        - name: mermaid
          class: mermaid
          format: !!python/name:pymdownx.superfences.fence_code_format # Footnotes

  - footnotes

  # Keys
  - pymdownx.keys

  # Icons & emojis
  - pymdownx.emoji:
      emoji_index: !!python/name:materialx.emoji.twemoji
      emoji_generator: !!python/name:materialx.emoji.to_svg # Images

  - attr_list
  - md_in_html

  # Lists
  - def_list
  - pymdownx.tasklist:
      custom_checkbox: true

  # MathJax
  - pymdownx.arithmatex:
      generic: true

  # Permalinks
  - toc:
      permalink: true

extra_javascript:
  - javascript/mathjax.js
  - https://polyfill.io/v3/polyfill.min.js?features=es6
  - https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js
