:root {
    --primary-color: #036ED1;
    --primary-color-desaturated:rgba(3, 109, 209, 0.048);
    --bg-bright: white;
    --bg-dark: #F2F2F2;
    --bg-medium: #F9F9F9;
    --font-dark: #292929;
    --font-light: #6d6d6d;
}

.noSelect {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently supported by Chrome and Opera */
}